/* ==========================================================================
   Content
   ========================================================================== */
textarea.input,
textarea.output {
	width: 100%;
	resize:none;
	height: 500px;
}