Line: 12 Column: 60 Language: html5
Error: Bad value X-UA-Compatible for attribute http-equiv on element meta.

Line: 161 Column: 137 Language: html5
Error: Attribute border not allowed on element input at this point.

Line: 162 Column: 96 Language: html5
Error: The border attribute is obsolete. Consider specifying img { border: 0; } in CSS instead.

Line: 221 Column: 7 Language: html5
Error: End tag for  body seen, but there were unclosed elements.

Line: 28 Column: 18 Language: html5
Error: Unclosed element div.

