<!DOCTYPE html>
<html>
<head>
	<title>Modals Template</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body #container>
<!-- Register Modal -->
	<div class="modal_wrapper">
		<section id="register_modal">
			<hgroup>
				<h1>Register</h1>
				<h2>Please fill out all fields</h2>
			</hgroup>
			<a href="#">CLOSE (X)</a>
		<!-- Register User Info -->
			<form action="#" method="post" accept-charset="utf-8">
				<input type="text" name="register_username" value="username" placeholder="username"><br>
				<input type="email" name="register_email" value="email" placeholder="email"><br>
				<input type="text" name="register_password1" value="password" placeholder="password"><br>
				<input type="text" name="register_password2" value="re-enter password" placeholder="re-enter password"><br>
			</form>
		<!-- Register Plan Info -->
		<p>You will now be redirected to Paypal to complete your transaction</p>
		</section><!-- END #register_modal -->
	</div> <!-- END .modal_wrapper-->
<!-- Edit Profile Modal -->
	<section id="edit_profile_modal">

	</section><!-- END #edit_profile_modal -->
<!-- Contact Us Modal -->
	<section id="contact_us_modal">

	</section><!-- END #contact_us_modal -->
<!-- Compress Output Modal -->
	<section id="compress_out_modal">

	</section><!-- END #compress_out_modal -->
<!-- Decompress Output Modal -->
	<section id="decompress_modal">

	</section><!-- END #decompress_modal -->
</body>
</html>
