@font-face {
font-family:FranchiseRegular;
src:url(fonts/franchise_bold/franchise-bold-webfont.eot?#iefix) format(embedded-opentype),url(fonts/franchise_bold/franchise-bold-webfont.woff) format(woff),url(fonts/franchise_bold/franchise-bold-webfont.ttf) format(truetype),url(fonts/franchise_bold/franchise-bold-webfont.svg#FranchiseRegular) format(svg);
font-weight:400;
font-style:normal
}